<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Details">
  <ion-content class="padding">
  	<h1>{{ event.date }}</h1>
  	<h2>{{ event.location }}</h2>
    <div ng-repeat="attendee in event.attendees">
    	<div class="small-image" style="background: url('{{attendee.image_url}}'); background-size: cover;"></div>
		{{ attendee.name }}
    </div>
  </ion-content>
</ion-view>
