<ion-view view-title="Week">
  <ion-content scroll="false">
    <section class="calendar-container" on-swipe-left="nextWeek()" on-swipe-right="prevWeek()" on-drag-up="showFriends()" on-drag-down="hideFriends()">

      <div ng-repeat="day in days" class="button-bar day" >
        <div class="button button-calm">
          <b style="padding: 0px; font-size: 17px; text-shadow: 1px 1px 1px #999;">{{ day.name }}</b><br/>
          <span style="position: relative; top: -20px; font-size: 11px; font-weight: bold;">{{ day.date_string }}</span>
        </div>
        <div ng-repeat="hour in day.hours" class="button button-balanced hour" style="background: {{ hour.color }};" ng-drop="true" ng-drop-success="hour.onDropComplete($data,$event)">
          <div ng-repeat="attendee in hour.event.attendees" class="small-image" ng-drag="true" ng-drag-data="attendee" data
         -allow-transform="true" style="background: url('{{attendee.image_url}}'); background-size: cover;"></div>
        </div>
      </div>

      <div id="friends-container" ng-show="friendsDiv">
        <a ng-click="prevWeek()" class="button ion-chevron-left"></a>
         <div ng-repeat="friend in friends" class="dragImage" ng-drag="true" ng-drag-data="friend" data
         -allow-transform="true" style="background: url('{{friend.image_url}}'); background-size: cover;"></div>
        <a ng-click="nextWeek()" class="button ion-chevron-right"></a>
      </div>

    </section>
  </ion-content>
</ion-view>
